#
# Service translations
#
# @language		en_US
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:NodeJsonApi!
# @subpackage	Translations
# @since		0.1.0
#
# @date			13.04.19
#

base:
	messages:
		identifierInvalid:
			heading	: "Entity identifier invalid"
			message	: "Provided entity identifier is not valid"
		missingRequired:
			heading	: "Missing required attribute"
			message	: "Provided request is missing required attribute or relation"
